.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogItem{
  width: 50px;
  margin-right: 7px;
}

.dialogsItems {
  padding: 10px;
}
.dialogsItems .active{
  color: red;
}
.messages {
  padding: 10px;
}

.message {

}
